body{
    font-family: "Roboto", sans-serif;
    padding-top: 30px;
    margin: 0;
}

.todolist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 200px;
    text-align: center;
}

#Todo-List-Text{
    font-size: large;
    font-weight: 900;
    margin: 0;
    margin-bottom: 2px;
}
#Day{
    font-size: small;
    font-weight: 900;
    margin: 0;
    margin-bottom: 5px;
}
.textbox {
    background-color: #EDE9E9;
    border-radius: 2.5%;
    padding: 10px;
    width: 150px;
    height: 200px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #7A97FF;
    height: 30px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

#log-out-button {
    background-color: #ADB3E3;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 20px;
    border-radius: 5px;
}

#log-out-button:hover {
    cursor: pointer;
    background-color: rgb(227, 75, 20);
}