html {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EDE9E9;
    touch-action: none;
    -ms-touch-action: none;

  }
.box{
    display : flex;
}
.sign {
    /* border: 2px solid powderblue; */
    padding: 5px;
    background-color: #ADB3E3;
    text-align: center;
    border-radius: 9999px;
    font-size: 20px;
    max-width: 168px;
    width: 168px;


  }
  .ans{
    padding: 5px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    max-width: 180px;
    width: 180px;
    margin-left: 15px;


  }
  .detail{
    padding: 10px;
    background-color: #FFFFFF;
    /* text-align: left; */
    /* justify-content: baseline; */
    resize: none;
    vertical-align: top;
    text-align: left;
    border-radius: 5px;
    font-size: 20px;
    max-width: 943px;
    width: 943px;
    height: 174px;
    margin-left: 15px;
    margin-top : 10px;
  }
.add{
    padding: 5px;
    background-color: #ADB3E3;
    text-align: center;
    border-radius: 9999px;
    font-size: 20px;
    max-width: 168px;
    width: 168px;
    margin-left: 800px;
}
.answer{
    flex-direction: column ;
    flex-flow: column;
    align-items: center;
}
.line{
    padding: 11px;
    /* text-align: center;
    max-width: 168px;
    width: 168px; */
}
.time{
    padding: 1px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    max-width: 180px;
    width: 180px;
    margin-left: 15px;
}

ul { 
  font-family: 'FontAwesome';
  height: 30px;
  width: 150px;
  border: 1px #000 solid;
}
input{
  height: auto;
}
